<p style="color: green"><%= notice %></p>

<h1>ユーザー一覧</h1>
<table>

  <% @users.each do |user| %>
    <thead>

</thead>
<td>名前:<%= user.name %></td>

<td>年齢:<%= user.age %></td>

<td><%= link_to "詳細", user %></td>
 </tr>
  <% end %>
 </table>

 <%= link_to "新規作成", new_user_path %>