<p style="color: green"><%= notice %></p>

<h1>ユーザー一覧</h1>
<table>
<thead>
 <tr>
  <th>Name</th>
  <th>Age</th>
 </tr>
</thead>
<tbody>
  <% @users.each do |user| %>

 <tr>
   <td><%= user.name %></td>

  <td><%= user.age %></td>

  <td><%= link_to "詳細", user %></td>
 </tr>
 <% end %>
</tbody>
</table>

 <%= link_to "新規作成", new_user_path %>